---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import Projects from '@/components/sections/project.tsx'
---

<Layout title="Rizky Rafi">
  <div>
    <h1 class="mb-8 text-2xl font-heading sm:text-4xl">Work</h1>
    <div class="flex flex-col gap-5">
      <Projects client:load />'
    </div>
  </div>
</Layout>
